.component--button-orange {
    width: 122px;
    height: 40px;
    font-size: 16px;
    font-family: $brand-font;
    border-radius: 3px;
    border: none;
    outline: none;
    background: #E9E9E9;
    color: #3399FF;
    cursor: pointer;
    &:focus,
    &:hover {
        opacity: 0.5;
        color: $heading-color;
        transition: all .3s ease-in-out;
        text-align: center;
    }
    i {
        color: $brand-main-color;
        float: left;
        margin-left: 5px
    }
}