.component--number {
    display: inline-block;
    line-height: 35px;
    width: 90%;
    height: 40%;
    margin: auto;
    padding-top: 25px;
    li {
        display: inline-block;
        width: 41%;
        list-style: none;
        border-bottom: solid;
        border-color: $heading-color;
        border-bottom-width: 0.02px;
        margin: 0.5%;
    }
    ul {
        margin: auto;
        display: inline-block;
        width: 80%;
        margin-left: 18%;
    }
    span {
        width: 40%;
        margin: auto;
        display: inline-block;
        line-height: 18px;
    }
    .number {
        text-align: center;
    }
}